@use "variables" as *;
@use "mixins" as *;

@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

// @font-face {
//   font-family: icons;
//   src: url("icons.ttf");
// }

:root {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  background-color: $bggrey;
  font-family: Roboto, sans-serif;
  * {
    line-height: calc(2px + 2ex + 2px);
  }
}
